<div class="container-fluid-admin">
   <div class="row">
     <div class="col-xs-4 offset-xs-3">
       <h1>Registrera en användare:</h1>

       <hr />

       <form action="/register" method="POST">
          <h4>Förnamn:</h4>
            <div class="form-group">
              <input type="name" name="name" class="form-control" required />
            </div>
         <h4>Efternamn:</h4>
             <div class="form-group">
               <input type="lastname" name="lastname" class="form-control" required />
            </div>
          <h4>Email adress:</h4>
            <div class="form-group">
              <input type="email" name="email" class="form-control" required />
            </div>
         <h4>Lösenord:</h4>
            <div class="form-group">
              <input type="password" name="password" class="form-control" required />
            </div>
         <a href="/login"><h5>Redan registrerad?</h5></a>
         <div class="form-group text-xs-right">
           <button type="submit" class="btn btn-success btn-lg">Registrera användare</button>
         </div>
       </form>
     </div>
   </div>
</div>
