<!DOCTYPE html>
<html>
<head>
   <meta charset="utf-8">
   <link rel="stylesheet" href="style.css">
   <title>Sannarp AB</title>


</head>

   <body>
      <h1>HERE GOES THE CONTENT LATER</h1>
   </body>

<script src="frontend/js/app.js"></script>

</html>
