
<div class="container-fluid-2">
   <div class="row">
      <div class="col-xs-6 col-md-6 offset-md-3">
         <h1>En Modern Gård i Tiden</h1>
         <h3>På Sannarp jobbar vi mot ett hållbart skogs- och lantbruk för framtida generationer.</h3>

      </div>
   </div>
</div>

<div class="container-fluid-3">
   <div class="row">
      <div class="col-xs-1 col-md-1"></div>
      <div class="col-xs-4 col-md-4"><h3>Om Sannarp</h3>
         <p> Lorem Ipsum is simply dummy text of the printing and typesetting industry.
            Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
            when an unknown printer took a galley of type and scrambled it to make a
            type specimen book. It has survived not only five centuries, but also the leap
            into electronic typesetting, remaining essentially unchanged.
            It was popularised in the 1960s with the release of Letraset sheets containing
            Lorem Ipsum passages, and more recently with desktop publishing software like
            Aldus PageMaker including versions of Lorem Ipsum.
         </p>
      </div>
      <div class="col-xs-1 col-md-1"></div>
      <div class="col-xs-1 col-md-1"></div>
      <div class="col-xs-4 col-md-4"><h3>Senaste nytt</h3>
         <div class="newsFeed">
            <div class="content">
               blah... ..blah blah blah... ..blah blah blah... ..blah blah blah... ..blah blah blah... ..blah blah blah... ..blah blah blah... ..blah blah blah... ..blah blah blah... ..blah blah blah... ..blah blah blah... ..blah blah blah... ..blah blah blah... ..blah blah blah... ..blah blah blah... ..blah blah blah... ..blah blah blah... ..blah blah blah... ..blah blah blah... ..blah blah blah... ..blah blah blah... ..blah blah blah... ..blah blah blah... ..blah blah blah... ..blah blah blah... ..blah blah blah... ..blah blah blah... ..blah blah blah... ..blah blah blah... ..blah blah blah... ..blah blah blah... ..blah blah blah... ..blah blah blah... ..blah blah blah... ..blah blah blah... ..blah blah blah... ..blah blah blah... ..blah blah blah... ..blah blah blah... ..blah blah blah... ..blah blah blah... ..blah blah blah... ..blah blah blah... ..blah blah blah... ..blah blah blah... ..blah blah blah... ..blah blah blah... ..blah blah blah... ..blah blah blah... ..blah blah blah... ..blah blah blah... ..blah blah blah... ..blah blah blah... ..blah blah blah... ..blah blah blah... ..blah blah blah..lah blah blah... ..blah blah blah... ..blah blah blah..lah blah blah... ..blah blah blah... ..blah blah blah..lah blah blah... ..blah blah blah... ..blah blah blah...
            </div>
            <div class="col-xs-1 col-md-1"></div>
         </div>
      </div>
   </div>
</div>
