body, html {
   margin: 0px;
   height: 100%;
   padding: 0px;
   font-family: 'Lato', sans-serif !important;
}

section.container#section {
   margin-left: 0px;
   margin-right: 0px !important;
   padding-right: 0px;
   padding-left: 0px;
}

//navbar
.container-fluid {
   margin-top: 10px;
   margin-bottom: 10px;
   letter-spacing: 2px;
   font-size: 14px;
   .navbar {
      margin-bottom: 0px;
   }
   a.navbar-brand {
      font-size: 20px;
   }
}

//footer.container-fluid.bg-4 {
//   background-color: $meny-color;
//   color: lightgrey;
//   height: 110px;
//   width: 100%;
//   overflow: hidden;
//   position: absolute;
//   bottom: 0;
//   div#adress.col-md-12 {
//      margin-top: 20px;
//      margin-bottom: 20px;
//      margin-right: 0px;
//      font-weight: bold;
//      font-size: 16px;
//      text-align: right;
//
//      p {
//         margin-right: 30px;
//      }
//   }
//}
