@import "_variables.scss";
@import "_globals.scss";

//first container
div.col-xs-6.col-md-6 {
   text-align: center;
   margin-top: 160px;
   h1 {
      color: $primamry-color;
      text-align: left;
      font-size: 400%;
      margin-left: 30px;
   }
   h3 {
      color: $primamry-color;
      text-align: left;
      margin-left: 30px;
   }
}
//second container
.container-fluid-2 {
   background-image: url('bakgrundbild.png');
   background-size: 100% 100%;
   position: relative;
   overflow: hidden;
   height: 600px;
   min-height: 100%;
   margin-right: 0px;
   background-attachment: fixed;
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
}

//third container
.container-fluid-3 {
   height: 350px;
   margin-top: 50px;
   margin-left: 10px;
   .col-xs-4.col-md-4 {
      text-align: center;
      .newsFeed {
         align-self: center;
         height: 220px;
         width: 450px;
         padding: 2px;
         border: solid;
      }
      .content {
         height: 215px;
         overflow: auto;
      }
   }
}
